/* This declaration defines the "Title" class */
.title {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* This declaration defines the "Form" class */
.form {
    text-align: center;
    width: 25%;
    padding: 16px;
    background-color: rgb(243, 234, 181);
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    margin-left: auto;
    margin-right: auto;
}

/* This declaration defines the "Input" class */
.input {
    width: 90%;
    display: inline;
    background-color: rgb(213, 237, 245);
    border: 2px solid black;
    border-radius: 6px;
    box-sizing: content-box;
}

/* This declaration defines the "Button" class */
.button {
    width: 40%;
    display: inline;
    border: 2px solid black;
    border-radius: 6px;
    box-sizing: border-box;
    margin: 5px;
}