<main class="gridTemplate">
    <header>
        <h1>Welcome to Client Management</h1>
    </header>

    <div class="intro">
        <h3>Please select your desired action:</h3><br>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="false"
                (change)="NewClientForm()">
            <label class="form-check-label" for="inlineRadio1">Create New Client</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"
                (change)="ClientListView()">
            <label class="form-check-label" for="inlineRadio2">View Existing Clients</label>
        </div>

    </div>

    <div class="form" *ngIf="showClientRegister">
        <form method="post" [formGroup]="clientForm" (ngSubmit)="addClientToDB">
            <div>
                <h5>Please Enter New Client Information:</h5>
                <hr>
            </div>
            <div class="mb-3">
                <label for="clientName" class="form-label">New Client Name</label>
                <input type="text" class="form-control" id="clientName" aria-describedby="emailHelp"
                    placeholder="eg: 'John'" required>
            </div>
            <div class="mb-3">
                <label for="clientEmail" class="form-label">New Client Email</label>
                <input type="email" class="form-control" id="clientEmail" aria-describedby="emailHelp"
                    placeholder="eg: 'john@example.com'" required>
            </div>
            <div class="mb-3">
                <label for="clientPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="clientPassword"
                    placeholder="Automatic Default: 'Password123'" disabled>
            </div>
            <input type="button" class="btn btn-primary" value="Submit"><input type="reset" class="btn btn-primary"
                value="Reset">
        </form>
    </div>

    <div class="form clientList" *ngIf="showClientList">
        <div>
            <h5>Current Client List:</h5>
            <hr>
        </div>
        <div>
            <p *ngFor="let Client of clients">{{Client.cid}} | {{Client.name}} | {{Client.email}}</p>
        </div>
    </div>
</main>